
.project-cards {
    display: grid;  
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, 250px);  
  }
  .project-card{
    display: grid;
    border-radius: 10px;
    width: auto;
    align-items: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background: white;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  }
  .project-card:hover{
    background-color: rgba(225,233,241,1)
  }
  
  .project-image {
    align-items:center;
  }
  .project-cards-image {
    height: 150px;
    width: 200px;
  }
  
  .project-title {
    font-size: 19px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .project-short-description {
    font-size: 14px;
    padding: 10px 10px;
  }
  .project-keywords{
    font-size: 13px;
    font-weight: bold;
    text-align: auto;
  }