.display-container {
    background: linear-gradient(90deg, rgba(225,233,241,1) 0%, rgba(231,227,249,1) 100%);
    box-shadow: 16px 16px 16px 16px rgba(.12, .12, .12, .12), 8px 8px 8px 8px rgba(.12, .12, .12, .12), 8px 8px 8px 8px rgba(.12, .12, .12, .12);  
    width: 100%;
  }