.display-container {
    background: linear-gradient(90deg, rgba(225,233,241,1) 0%, rgba(231,227,249,1) 100%);
    box-shadow: 16px 16px 16px 16px rgba(.12, .12, .12, .12), 8px 8px 8px 8px rgba(.12, .12, .12, .12), 8px 8px 8px 8px rgba(.12, .12, .12, .12);  
    width: 100%;
  }

.display-content-project-name {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.display-content-content-container-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.display-content-image-container{
  padding-bottom: 20px;
}

.display-content-content-container{
  min-width: 320px;
  max-width: 576px;
  padding-left: 20px;
}

.display-content-large-image{
  width: 400px;
  height: 300px;
  border-radius: 40px;
}

.display-content-long-description{
  font-size: 14px;
  padding-bottom: 10px;  
}

.display-content-project-url-container {
  padding-bottom: 20px;
}
.display-content-project-url {
  font-size: 16px;
  font-weight: bold;
}
.display-content-project-keywords {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 15px;  
}